In [31]:
import pandas as pd
from faker import Faker

In [32]:
fake = Faker()
words = fake.words()

---

# Types

## Series - like columns

In [36]:
pd.Series(words)

0    citizen
1       know
2      local
dtype: object

## DataFrame - like whole table

In [38]:
pd.DataFrame({'words': words})

     words
0  citizen
1     know
2    local

## File

In [40]:
df = pd.read_csv('lemmas_60k.tsv', sep='\t')

In [41]:
print(df.head())

   rank  lemma PoS      freq    perMil  %caps  %allC   range  disp     blog  \
0     5     of   i  23159162  23321.89   0.01   0.00  477933  0.97  2897295
1    15     do   v   8186412   8244.70   0.10   0.01  415641  0.98  1052753
2    25   they   p   4503650   4535.29   0.23   0.00  382938  0.98   626530
3    35    she   p   3188078   3210.48   0.32   0.00  206627  0.93   181410
4    45  about   i   2427703   2444.76   0.02   0.01  350741  0.98   360952

   ...     news     acad    blogPM     webPM     TVMPM    spokPM     ficPM  \
0  ...  2867922  4500485  23317.58  26588.36  10918.77  20157.43  19270.82
1  ...   557889   321166   8472.61   6888.18  18344.18  11672.50   8055.41
2  ...   493994   345418   5042.35   4390.60   4129.95   7414.70   4606.30
3  ...   295580    87513   1460.00   1693.13   3771.82   2812.08  10844.81
4  ...   231251   158515   2904.96   2328.58   3194.97   3844.24   2097.08

      magPM    newsPM    acadPM
0  25796.39  23557.38  37569.65
1   4716.30   4582.55   2681.07
2   3683.25   4057.71   2883.52
3   2263.90   2427.92    730.55
4   1865.94   1899.52   1323.27

[5 rows x 25 columns]