In [1]:
import pandas as pd
from datetime import date

---

# Create

## Range

### Monthly

In [2]:
pd.date_range('2023-01-01', '2024-01-01', freq='M')

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='M')

### Daily

In [3]:
pd.date_range(date.today(), periods=5).tolist()

[Timestamp('2024-03-11 00:00:00'),
 Timestamp('2024-03-12 00:00:00'),
 Timestamp('2024-03-13 00:00:00'),
 Timestamp('2024-03-14 00:00:00'),
 Timestamp('2024-03-15 00:00:00')]

## DataFrame

In [3]:
pd.DataFrame({'date': pd.date_range('2023-01-01', '2024-01-01', freq='M')}).head()

        date
0 2023-01-31
1 2023-02-28
2 2023-03-31
3 2023-04-30
4 2023-05-31

# Update

## Convert

### Column

In [4]:
df = pd.DataFrame({'date': pd.date_range('2023-01-01', '2024-01-01', freq='W')})
df.date = pd.to_datetime(df.date, utc=True)
df.head()

                       date
0 2023-01-01 00:00:00+00:00
1 2023-01-08 00:00:00+00:00
2 2023-01-15 00:00:00+00:00
3 2023-01-22 00:00:00+00:00
4 2023-01-29 00:00:00+00:00

## GroupBy

In [14]:
dates = pd.date_range('2023-01-01', '2024-01-01', freq='W')

df = pd.DataFrame({'date': dates})

df.groupby(pd.Grouper(key='date', freq='M')).agg(total=('date', 'count'))

            total
date
2023-01-31      5
2023-02-28      4
2023-03-31      4
2023-04-30      5
2023-05-31      4
2023-06-30      4
2023-07-31      5
2023-08-31      4
2023-09-30      4
2023-10-31      5
2023-11-30      4
2023-12-31      5