In [192]:
import pandas as pd
from faker import Faker

In [193]:
fake = Faker()
words = fake.words()

---

# Data

In [196]:
df = pd.DataFrame({ 'word': words, 'length': [len(word) for word in words] })

In [197]:
df.head()

       word  length
0  behavior       8
1    letter       6
2      down       4

---

# Info

In [200]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   word    3 non-null      object
 1   length  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

# Columns

## One

In [203]:
df['word'].head()

0    behavior
1      letter
2        down
Name: word, dtype: object

## Multiple

In [205]:
df[['word', 'length']].head()

       word  length
0  behavior       8
1    letter       6
2      down       4

# Entries

In [207]:
print(df.values.tolist())

[['behavior', 8], ['letter', 6], ['down', 4]]

## Keys

In [209]:
print(df['word'].values.tolist())

['behavior', 'letter', 'down']

## Values

In [211]:
print(df['length'].values.tolist())

[8, 6, 4]

## Indexes

In [213]:
print(df.index.tolist())

[0, 1, 2]

# Filter

## Simple

In [216]:
df[df['length'] < 5].head()

   word  length
2  down       4

## Callback

In [218]:
def create_filter(column, threshold):
    def _filter(dataframe):
        return dataframe[column] < threshold
    return _filter

In [219]:
cb = create_filter('length', 5)
df[cb].head()

   word  length
2  down       4