In [1]:
import pandas as pd
from faker import Faker
import numpy as np

In [2]:
fake = Faker()
words = fake.words()
numbers = np.array([i for i in range(3)])

---

# Types

## Series - like columns

In [44]:
print(pd.Series(words))

0    continue
1       after
2        talk
dtype: object

In [42]:
print(pd.Series(numbers, index=words, name='Title'))

continue    0
after       1
talk        2
Name: Title, dtype: int32

## DataFrame - like whole table

In [9]:
pd.DataFrame({'words': words})

      words
0  continue
1     after
2      talk

In [36]:
pd.DataFrame({word: len(word) for word in words}.items(), index=range(len(words)), columns=['word', 'length'])

       word  length
0  continue       8
1     after       5
2      talk       4

## File

In [12]:
df = pd.read_csv('lemmas_60k.tsv', sep='\t')

In [40]:
df[['lemma', 'freq']].head()

   lemma      freq
0     of  23159162
1     do   8186412
2   they   4503650
3    she   3188078
4  about   2427703